<?xml version='1.0' encoding='utf-8'?>
<widget id="de.arachnon.sirenensignale" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Sirenensignale</name>
    <description>
        Eine einfache App, die die aktuellen Sirenensignale in Deutschland erklärt.
    </description>
    <author email="dev@arachnon.de" href="http://www.arachnon.de/sirenensignale">
        Arachnon
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <edit-config file="AndroidManifest.xml"
                 target="/manifest/application/activity[@android:name='MainActivity']"
                 mode="merge">
            <activity android:screenOrientation="portrait"></activity>
        </edit-config>
    </platform>
</widget>
